<h1>Tasks</h1>
<%= render 'form' %>
<ul>
  <% @tasks.each do |task| %>
    <li id="task_<%= task.id %>">
      <%= link_to 'Edit', edit_task_path(task) %>,
      <%= link_to 'Delete', task, :method => 'delete' %>:
      <%= task.task %>
    </li>
  <% end %>
</ul>

