<%= render 'form' %>
<ul style="margin: 0px;">
  <li id="legend">
    Controls  | Task
  </li>
  <% @tasks.each do |task| %>
    <li id="task_<%= task.id %>">
      <button class="edit-button"><%= link_to 'Edit', edit_task_path(task) %></button>
      <button class="delete-button"><%= link_to 'Delete', task, :method => 'delete' %></button> |
      <%= task.task %>
    </li>
  <% end %>
</ul>

